<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldenhouse.mapper.BooksortMapper">

    <!-- 增加书籍分类-->
    <insert id="addBooksort" parameterType="booksort">
<![CDATA[
        insert t_bs(bs_name,bs_what)
        values(#{bsName},#{bsWhat})
]]>
    </insert>

    <!-- 根据书籍分类ID删除书籍分类信息-->
    <delete id="deleteBooksort" parameterType="int">
<![CDATA[
        delete FROM t_bs
        WHERE bs_id=#{bsId}
]]>
    </delete>

    <!-- 根据书籍分类ID修改书籍分类信息-->
    <update id="updateBooksort" parameterType="booksort">
<![CDATA[
        update t_bs
        set bs_name=#{bsName},bs_what=#{bsWhat}
        where bs_id=#{bsId}
]]>
    </update>

    <!-- 查询所有书籍分类信息-->
    <select id="queryBooksort" resultType="booksort">
<![CDATA[
        select
            bs_id as bsId,
            bs_name as bsName,
            bs_what as bsWhat
        from
            t_bs
]]>
        </select>

    <!-- 根据书籍分类ID查询单个书籍分类信息-->
    <select id="queryBooksortById" resultType="booksort">
<![CDATA[
        select
            bs_id as bsId,
            bs_name as bsName,
            bs_what as bsWhat
        from
            t_bs
        where
            bs_id=#{bsId}
]]>
        </select>


</mapper>