<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldenhouse.mapper.OrderMapper">
    <!-- 查询所有订单信息-->
    <select id="queryOrder" resultType="order">
        select
            o_id as oId,
            o_no as oNo,
            c_id as cId,
            b_id as bId,
            o_sta as oSta
        from
            t_order
        </select>

    <!-- 根据订单ID删除订单信息-->
    <delete id="deleteOrder" parameterType="int">
<![CDATA[
        delete FROM t_order WHERE o_id=#{oId}
]]>
    </delete>

    <!-- 根据订单ID查询单个订单信息-->
    <select id="queryOrderById" resultType="order">
<![CDATA[
        select
            o_id as oId,
            o_no as oNo,
            c_id as cId,
            b_id as bId,
            o_sta as oSta
        from
            t_order
        where
            o_id=#{oId}
]]>
        </select>

<!--    修改订单状态-->
    <update id="updateOrderOfSta" parameterType="order">
update t_order set o_sta=#{oSta} where o_id=#{oId}
    </update>


</mapper>