<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goldenhouse.mapper.SugMapper">
    <!--查询所有意见信息-->
    <select id="queryAllSug" resultType="sug">
        select sug_id as sugId,
               c_id as cId,
               sug_what as sugWhat,
               sug_time as sugTime
        from t_sug
    </select>

    <!--根据意见ID删除该意见信息-->
    <delete id="delectSug" parameterType="int">
        delect from t_sug where sug_id=#{sugId}
    </delete>

</mapper>